.App-text{
	background-color: silver;
	padding-left: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 10px;
	width: fit-content;
	margin-left: 15px;
	font-size: 0.2in;
}
.Card{
	margin: 1rem;
	border: 4px solid;
	border-color:silver;
	border-radius: 5px;
	text-align: center;
}

.myCard {
	margin: 1rem;
	border: 4px solid;
	border-color:silver;
	border-radius: 5px;
	text-align: center;
}

.walletCard {
	margin: 1rem;
	border: 1px solid black;
	border-radius: 5px;
}

.mimcCard {
	margin: 1rem;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

.input {
	margin-left: 2px;
}

.textDesc{
	width: 60%;
	height: 55px;
}

.text {
	margin-top: 10px;
	background-color:aliceblue;
	width: 3.5in;
	height: 0.8cm;
	font-size: 0.6cm;
}

.buttonStyle {
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 0.5cm;
	height: auto;
}